.navbar-container {
  .logo {
    width: 55px;
  }

  .nav-item {
    color: #000 !important;
    font-family: Poppins, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 0.5rem;
    cursor: pointer;

    &:hover {
      color: #ffc54c !important;
    }

  }
}
